:root{
  /*Color*/
  --color-point-red : #ee2239;
  --color-point-blue : #00a0e9;
  --color-point-deepblue : #0068b7;
  --color-orange : #f68d3c;
  --color-white : #fff;
  --color-small-grey : #cccccc;
  --color-light-grey : #878787;
  --color-medium-grey : #505050;
  --color-grey : #666;
  --color-black : #333;
  --color-deepblack : #000;
  --border-grey : #ddd;
  --border-grey-transparency : rgba(221,221,221, 0.35);
  --background-after : #bfcbdc;
  --footer-background : #111;

  /*Font weight*/
  --weight-bold : 700;
  --weight-semi-bold : 600;
  --weight-medium : 500;
  --weight-regular : 400;
  --weight-light : 300;
  --weight-thin : 100;

  /* Font family */
  --font-batang : 'GyeonggiBatang',sans-serif;
  --font-amiri : 'Amiri', serif;
  --font-lato : 'Lato', sans-serif;
  --font-gmarketB : 'GmarketSansBold', sans-serif;

  /*animation duration*/
  --animation-duration : all 0.3s ease;
  --animation-late-duration : all 1s ease;
}


.inner {width: 1400px; margin: 0 auto;}
/* header */
header {position: fixed; left: 0; top:0; z-index: 100; width: 100%; height:  auto;}
header .inner {max-width : 100%; display: flex; justify-content: space-between; align-items: center; height: 80px; padding: 0 20px;}
header h1 {width: 80px; height:100%; }
header h1 a {display: block; width: 100%; height: 100%; position: relative;}
header h1 a img {width: 100%; height: auto; position: absolute; left: 0; top:50%; transform:  translateY(-50%);}
header h1 a img.hov {display: none;}
header .menu_bt{width: 30px; height: auto; cursor: pointer;}
header .menu_bt ul{width: 100%; height: auto; position: relative;}
header .menu_bt ul li{width: 100%; height: auto; transition: all ease 0.3s;}
header .menu_bt ul li:nth-child(2){display: flex; justify-content: space-between; margin: 6px 0;}
header .menu_bt ul li span{width: 100%; height: 4px; display: block; background-color: #fff; border-radius: 2px;}
header.sub .menu_bt ul li span{background-color: #fff;}
header.fixed .menu_bt ul li span{background-color: #fff;}
header.sub .menu_bt.on ul li span{background-color: #fff;}
header .menu_bt ul li:nth-child(2) span:first-child{background-color: #2251ff; width: 10px;}
header .menu_bt ul li:nth-child(2) span:last-child{width: 18px;}
header .menu_bt.on ul li:nth-child(1){width: 0; height: 0; margin: 0; opacity: 0;}
header .menu_bt.on ul li:nth-child(2){transform: rotate(45deg); margin: 0;}
header .menu_bt.on ul li:nth-child(3){transform: translateY(-4px) rotate( -45deg);}


.main_wrap {
  width: 100%; height: auto; position: relative;
}

.main_wrap video {
  width: 100%;
}

.main_wrap .img_wrap {
  width: 100%; height: 100%; opacity: 1;
   transition: 0.5s all;
  position: absolute; left: 0; top:0;
  background: url("https://movie-phinf.pstatic.net/20220302_71/1646183071913TYi4c_JPEG/movie_image.jpg?type=m665_443_2") no-repeat center / cover;
}
.main_wrap .img_wrap img {display: none;}

.main_wrap:hover .img_wrap {
  opacity: 0;
}

/* login */
.login_wrap {
  height: 500px; width: 420px; margin: 0 auto; margin-top: 180px;
  border: 2px solid #fff; border-radius: 30px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center; align-items: center;
}
.login_wrap  .login_box {
  display: flex;
  justify-content: center; align-items: center;
  width: 90%; margin: 0 auto;
}
.login_wrap ul {height: 100px; display: flex; flex-flow: column nowrap; justify-content: space-between; padding-right: 15px; width: calc(100% - 100px)}
.login_wrap ul li {}
.login_wrap ul li:first-child  {}
.login_wrap ul input {padding: 8px 12px; font-size: 16px;  border: 1px solid #fff; background: none; color: #fff; width: 100%; display: block;}
.login_wrap .login_box button {font-size: 18px; text-align:center; background-color: #fff; height: 100px; width :100px}

.login_wrap .login_plus {display: flex; justify-content: space-between; align-items: center; padding: 12px 0 0; color: #fff; width: 90%;;}
.login_wrap .login_plus .lp_left label {cursor:pointer;}
.login_wrap .login_plus .lp_left label span {position: relative; padding-left: 16px;}
.login_wrap .login_plus .lp_left label span:after {position: absolute; left: 0; top:50%; transform: translateY(-50%); border: 1px solid #fff;  content:''; width :12px; height: 12px; transition: 0.35s all;}
.login_wrap .login_plus .lp_left label input:checked ~ span:after {background-color: #fff;}
.login_wrap .login_plus a {color: #fff; padding-left: 7px;}
.login_wrap .lp_btm {width: 100%; padding: 20px 0 0;}
.login_wrap .lp_btm a {width: 90%; display: block; margin:0 auto; height: 40px; line-height: 40px; background-color: #fff; color: #222; text-align: center}

.join_wrap { max-width: 1400px; margin: 120px auto 0;}
.join_wrap ul{width: 100%; height: auto; border-top: 2px solid var(--color-point-blue); margin-bottom: 80px;}
.join_wrap ul li{width: 100%; height: auto; display: flex; align-items: center; border-bottom: 1px solid #dfdfdf; padding: 15px 0;}
.join_wrap ul li>label{width: 180px; height: auto; padding-left: 20px; font-size: 16px; font-weight: 400; color: #f1f1f1; display: block;}
.join_wrap ul li>label br{display: none;}
.join_wrap ul li>label i{color: var(--color-point-blue);}
.join_wrap ul li button {display: block; width: 120px; height: 45px; line-height: 43px;  border: 1px solid #fff; color: #fff; background: none; text-align: center; margin-left: 12px; transition: 0.35s all;}
.join_wrap ul li button:hover {background-color: #fff; color: #222;}
.join_wrap ul li {height: auto; display: flex; align-items: center;}
.join_wrap.edit ul li{line-height: 45px;}
.join_wrap ul li input[type="text"], .join_wrap ul li input[type="password"], .join_wrap ul li select{height: 45px; border: 1px solid #dfdfdf; border-radius: 0; padding: 0 10px; font-size: 16px; font-weight: 400; color: #505050;}
.join_wrap ul li input[type="text"]::placeholder{font-size: 14px;}

.agree_wrap{width: 100%; height: auto; max-width: 1400px; margin:120px auto 0;}
.agree_wrap .agree_all {display: flex; border-bottom: 1px solid #ddd; padding-bottom: 30px; font-size: 16px; color: var(--color-light-grey); margin-bottom: 30px; align-items: center;}
.agree_wrap .agree_all input {margin-right: 5px;}
.agree_wrap .agree{width: 100%; height: auto; margin-bottom: 80px;}
.agree_wrap .agree .title{font-size: 20px; font-weight: 500; margin-bottom: 20px; position: relative; padding: 0 16px; color: #fff;}
.agree_wrap .agree .title:after {content:''; display: block; width: 10px; height: 10px;  border-radius: 50%; position: absolute; top:50%; left: 0; transform: translateY(-50%); background-color: #fff;}
.agree_wrap .agree .agree_box{width: 100%; height: 240px; border: 1px solid #dfdfdf; border-top: 2px solid var(--color-point-blue); overflow-y: scroll; padding: 50px; line-height: 1.5; background-color: #fff;}
.agree_wrap .agree .agree_box h4{font-size: 18px; font-weight: 400;}
.agree_wrap .agree .agree_box h5{font-size: 18px font-weight: 500; margin-bottom: 15px; margin-top: 27px;}
.agree_wrap .agree .agree_box p, .agree_wrap .agree .agree_box li{font-size: 14px; font-weight: 300; color: #878787; padding-left: 10px;}
.agree_wrap .agree .agree_box ol{padding-left: 0;}
.agree_wrap .agree .agree_box ul{margin-bottom: 40px;}
.agree_wrap .agree .agree_box li{margin-top: 5px;}
.agree_wrap .agree .agree_check_box{width: 100%; height: auto; margin-top: 20px; display: flex; align-items: center; color: #fff; position: relative; z-index: 1;}
.agree_wrap .agree .chk_group,
.agree_wrap .agree_all .chk_group{position: relative;}
.agree_wrap .agree .chk_group span,
.agree_wrap .agree_all .chk_group span {position: absolute; z-index: 3; opacity: 0; width: 10px; height: 10px;  display: block; background-color: var(--color-point-blue); top: 50%; left: 50%; transform: translate(-50%, -50%); transition: 0.35s all;}
.agree_wrap .agree .chk_group input:checked ~ span,
.agree_wrap .agree_all .chk_group input:checked ~ span {opacity: 1;}
.agree_wrap .agree .agree_check_box label,
.agree_wrap .agree_all  label {margin-left: 7px;}
.agree_wrap .agree .agree_check_box input,
.agree_wrap .agree_all  input  {margin-right: 0;}
.agree_wrap input { width: 16px; height: 16px; border: 1px solid #dfdfdf; display: block; cursor: pointer; margin-right: 10px; background-color: #fff; }

.btn_wrap {margin: 40px auto 0; display: flex; justify-content: center; }
.btn_wrap [class*="btn_t"] {width: 80px; height: 44px; line-height: 42px; text-align: center; border: 1px solid #fff;  color: #fff; background: none; margin: 0 8px; transition: 0.35s all;}
.join_wrap [class*="btn_t"]:hover {background-color: #fff; color: #222;}


/* popup_area */
body.setof {overflow: hidden; height: 100%;}
.popup_area { width: 100%; height: 100vh; position: fixed; left: 0; top: 0;  background-color: rgba(0,0,0,0.8); opacity: 0;  z-index: -1; transition: 0.75s all 0.5s; display: flex; justify-content: center; align-items: center; }
.popup_area.show {opacity: 1; z-index: 200;}
.pop_inner {display: flex; justify-content: center; align-items: center; position: relative; width: 90%; max-width: 800px; height :auto; max-height: 600px; padding-top: 40px;}
.pop_inner .p_close {display: block; position: absolute; top:0; right: -40px; width :36px; height: 38px; background:url('../img/popup_close.png') no-repeat center / cover;}
.pop_inner .pop_up_box {width: 100%; height: auto; min-height: 350px; overflow-x: hidden; overflow-y: scroll; background-color: #fff; padding: 59px 15px; border: 1px solid #000; box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.3);}
.pop_inner .pop_up_box > div  {padding: 0 44px; height: 100%; display:none;}
.pop_inner .pop_up_box > div::-webkit-scrollbar,
.qna_frm .scr_p_box::-webkit-scrollbar {width: 3px; display:block;}
.pop_inner .pop_up_box > div::-webkit-scrollbar-track,
.qna_frm .scr_p_box::-webkit-scrollbar-track {background-color: #dfdfdf; display:block; border-radius: 2px;}
 .pop_inner .pop_up_box > div::-webkit-scrollbar-thumb,
.qna_frm .scr_p_box::-webkit-scrollbar-thumb {background: #3080e2; border-radius: 2px;}

 .pop_inner .pop_up_box form li {margin-bottom: 10px;}
 .pop_inner .pop_up_box form input {display: block; width :100%; height: 48px;  font-size: 16px; padding: 0px 12px; line-height: 46px}
 .pop_inner .pop_up_box form .certificate_code {display: flex;}
 .pop_inner .pop_up_box form .certificate_code input {width: calc(100% - 82px); margin-right: 12px;}
 .pop_inner .pop_up_box form .certificate_code button {display: block; width: 70px; line-height: 48px; background-color: #222; color: #fff;}
 .pop_inner .pop_up_box form .check {margin-top: 22px; text-align: center;}
 .pop_inner .pop_up_box form .check button {width: 120px; height: 48px; line-height: 46px; border: 1px solid #222;}