:root{
  /*Color*/
  --color-point-red : #ee2239;
  --color-point-blue : #00a0e9;
  --color-point-deepblue : #0068b7;
  --color-orange : #f68d3c;
  --color-white : #fff;
  --color-small-grey : #cccccc;
  --color-light-grey : #878787;
  --color-medium-grey : #505050;
  --color-grey : #666;
  --color-black : #333;
  --color-deepblack : #000;
  --border-grey : #ddd;
  --border-grey-transparency : rgba(221,221,221, 0.35);
  --background-after : #bfcbdc;
  --footer-background : #111;

  /*Font weight*/
  --weight-bold : 700;
  --weight-semi-bold : 600;
  --weight-medium : 500;
  --weight-regular : 400;
  --weight-light : 300;
  --weight-thin : 100;

  /* Font family */
  --font-batang : 'GyeonggiBatang',sans-serif;
  --font-amiri : 'Amiri', serif;
  --font-lato : 'Lato', sans-serif;
  --font-gmarketB : 'GmarketSansBold', sans-serif;

  /*animation duration*/
  --animation-duration : all 0.3s ease;
  --animation-late-duration : all 1s ease;
}


.inner {width: 1400px; margin: 0 auto;}
/* header */
header {position: fixed; left: 0; top:0; z-index: 100; width: 100%; height:  auto;}
header .inner {max-width : 100%; display: flex; justify-content: space-between; align-items: center; height: 80px; padding: 0 20px;}
header h1 {width: 80px; height:100%; }
header h1 a {display: block; width: 100%; height: 100%; position: relative;}
header h1 a img {width: 100%; height: auto; position: absolute; left: 0; top:50%; transform:  translateY(-50%);}
header h1 a img.hov {display: none;}
header .menu_bt{width: 30px; height: auto; cursor: pointer;}
header .menu_bt ul{width: 100%; height: auto; position: relative;}
header .menu_bt ul li{width: 100%; height: auto; transition: all ease 0.3s;}
header .menu_bt ul li:nth-child(2){display: flex; justify-content: space-between; margin: 6px 0;}
header .menu_bt ul li span{width: 100%; height: 4px; display: block; background-color: #fff; border-radius: 2px;}
header.sub .menu_bt ul li span{background-color: #fff;}
header.fixed .menu_bt ul li span{background-color: #fff;}
header.sub .menu_bt.on ul li span{background-color: #fff;}
header .menu_bt ul li:nth-child(2) span:first-child{background-color: #2251ff; width: 10px;}
header .menu_bt ul li:nth-child(2) span:last-child{width: 18px;}
header .menu_bt.on ul li:nth-child(1){width: 0; height: 0; margin: 0; opacity: 0;}
header .menu_bt.on ul li:nth-child(2){transform: rotate(45deg); margin: 0;}
header .menu_bt.on ul li:nth-child(3){transform: translateY(-4px) rotate(
-45deg);}

/* index */
.main_wrap {
  width: 100%;
  height: 800px;
  position: relative;
  overflow: hidden;
  z-index: 5;

}

.main_wrap video {
  width: 100vw;
  height: auto;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}

.main_wrap .img_wrap {
  width: 100%; height: 100%; opacity: 1;
   transition: 0.5s all;
  position: absolute; left: 0; top:0;
  background: url("https://movie-phinf.pstatic.net/20220302_71/1646183071913TYi4c_JPEG/movie_image.jpg?type=m665_443_2") no-repeat center / cover;
}
.main_wrap .img_wrap img {display: none;}

.main_wrap:hover .img_wrap {
  opacity: 0;
}

.hs-area {
  position: relative;
  height: 120px;
}

.hs-area .index-card-box {
  width: 100%;
  margin-top: 500px;
  display: flex;
  flex-direction: column; /* row로 변경 시, 내용물이 가로로 나열됨 */
  justify-content: center;
  align-items: center;
}

.hs-area .index-mainrank-area {
  position: absolute;
  bottom: 0;

  width: 100%;

  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

/*.hs-area .index-mainrank-area .card {*/
/*  max-width: 450px;*/
/*  width: 100%;*/
/*  margin: 0 25px 0 25px;*/
/*  display: block;*/
/*}*/

.hs-area .index-subrank-area {
  margin-top: 200px;
  width: 90%;
  height: auto;

}

.hs-area .card-body {
  margin-left: 30px;
  line-height: 2.4;
}
.hs-area .index-subrank-area .card-body {
  padding: 0;
}

.hs-area .index-subrank-area img {
  display: block;
  margin: auto;
}

.hs-area .index-subrank-area h1 {
  font-size: 50px;
  line-height: 2.6;
}

.hs-area {display: flex; justify-content: space-around; padding-top: 22px;}
.hs-area .cp_box_ot {position: relative; width: 30%; height: 600px; overflow: hidden; box-shadow: 15px 10px 15px 0 rgba(0, 0, 0, 0.30);  border-radius: 30px; z-index: 10;}
.hs-area .cp_box {position: relative; padding: 50px 38px 50px 42px; display: flex; height: 100%; border-radius: 30px; flex-flow: column nowrap; justify-content: flex-end;  overflow: hidden; cursor: pointer; transition: 0.5s all;}
.hs-area .cp_box .blurImg {width: 100%; height: 100%; position: absolute; top:0; left:0; display: block; background: no-repeat center / cover; z-index: -1; transition: 1s all;}
.hs-area .cp_box_ot:nth-child(2) .blurImg {}
.hs-area .cp_box_ot:nth-child(3) .blurImg {}
.hs-area .cp_box_ot:nth-child(4) .blurImg {}
.hs-area .cp_box:before {content:''; position: absolute; top:0; left:0; width: 100%; height: 100%; border-radius: 30px; background-color: rgba(0,0,0, 0.62); transition: 0.5s all; display: block;}
.hs-area .cp_box .subject {color: #fff; font-weight: bold; text-shadow: 3px 0 2px rgba(0, 0, 0, 0.35); font-size: 28px; transition: 0.5s all; position: relative; z-index:5;}
.hs-area .cp_box .text {font-size: 16px; color: #fff; line-height: 1.5; transition: 0.75s all; overflow:hidden; z-index:5; height:0;}
/* hover */
.hs-area .cp_box:hover {}
.hs-area .cp_box:hover .blurImg {filter:blur(20px);}
.hs-area .cp_box:hover:before {background-color: rgba(255,255,255, 0.7); border: 1px solid #dfdfdf;}
.hs-area .cp_box:hover .subject {color: #000; padding-bottom: 20px; text-shadow:none;}
.hs-area .cp_box:hover .text {overflow:visible; height: 240px; color: #222; padding-top: 33px;}



/* login */
.login_wrap {
  height: 500px; width: 420px; margin: 0 auto; margin-top: 180px;
  border: 2px solid #fff; border-radius: 30px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center; align-items: center;
}
.login_wrap  .login_box {
  display: flex;
  justify-content: center; align-items: center;
}
.login_wrap ul {height: 100px; display: flex; flex-flow: column nowrap; justify-content: space-between; padding-right: 15px;}
.login_wrap ul li {}
.login_wrap ul li:first-child  {}
.login_wrap input {padding: 8px 12px; font-size: 16px;  border: 1px solid #fff; background: none; color: #fff;}
.login_wrap button {font-size: 18px; text-align:center; background-color: #fff; height: 100px; width :100px}