{% extends "layout.html" %}
{% block content %}

<div class="board_detail_html">
    <section id="section1">
        <div class="main_wrap">
            <video controls autoplay muted loop>
                <source src="{{ url_for('static', filename='/video/theBatman.mp4') }}" type="video/mp4">
            </video>
            <div class="img_wrap">
                <img src="https://movie-phinf.pstatic.net/20220302_71/1646183071913TYi4c_JPEG/movie_image.jpg?type=m665_443_2"
                    alt="대체이미지">
            </div>
        </div>
    </section>

    <div class="button_set">
        <button type="button" class="btn btn-outline-primary" onclick="enter_board({{goto_list_num}})">목록</button>
        <button type="button" class="btn btn-outline-primary" onclick="move_board_detail({{pre_post}})">이전 글</button>
        <button type="button" class="btn btn-outline-primary" onclick="move_board_detail({{next_post}})">다음 글</button>
    </div>

    <div class="title_h3">
        <h3>{{movie_title}}</h3>
    </div>

    <div class="title_h3_sub_info">
        <h6>감독 : {{movie_director}}</h6>
        <h6>개봉일 : {{movie_opendate}}</h6>
        <h6>MW 유저 평균 평점 : {{movie_avg_star}}</h6>
        <h6>추천 수 : {{movie_recommand}}</h6>
        <!-- <h6>조회 수</h6> -->
    </div>

    <div class="main_contents">
        <div class="movie_img">
            <img src= {{movie_image}}
                class="img-thumbnail" alt="...">
        </div>
        <div class="movie_actor_desc">
            <div class="card border-dark mb-3" style="max-width: 18rem;">
                <div class="card-body text-dark">
                    <h5 class="card-title">줄거리</h5>
                    <p class="card-text">{{movie_desc}}</p>
                </div>
            </div>
            <div class="card border-dark mb-3" style="max-width: 18rem;">
                <div class="card-body text-dark">
                    <h5 class="card-title">출연 배우</h5>
                    <p class="card-text">{{movie_actor}}</p>
                </div>
            </div>
        </div>
    </div>
    <div class="reply">
        {% for userdata in userdatas%}
        <div class="card">
            <div class="card-body">
              <h5 class="card-title">{{userdata['user_comment']}}</h5>
              <p class="card-text">UserID : {{userdata['user_ID']}} / 평점 : {{userdata['user_star']}}</p>
            </div>
        </div>
        {% endfor %}



    </div>
</div>


{% endblock %}