{% extends "layout.html" %}
{% block content %}
<section id="section1">
    <div class="main_wrap">
        <video controls autoplay muted loop>
            <source src="{{ url_for('static', filename='/video/theBatman.mp4') }}" type="video/mp4">
        </video>
        <div class="img_wrap">
            <img src="https://movie-phinf.pstatic.net/20220302_71/1646183071913TYi4c_JPEG/movie_image.jpg?type=m665_443_2"
                alt="대체이미지">
        </div>
    </div>
</section>

<div class="board_html">

    <div class="title_h3">
        <h3 style="color : white; font-size: 25pt; margin-bottom: 15px;"> 영화 추천 게시판 </h3>
    </div>

    <div class="arrange_list">
        <select class="form-select" aria-label="Default select example">
            <option selected>정렬방법</option>
            <option value="1">별점 순</option>
            <option value="2">조회 순</option>
            <option value="3">추천 순</option>
        </select>
    </div>

    <table class="table table-dark table-striped">
        <thead>
            <tr>
                <th scope="col">글 번호</th>
                <th scope="col">영화제목</th>
                <th scope="col">감독</th>
                <th scope="col">개봉일</th>
                <th scope="col">추천수</th>
                <th scope="col">평균별점</th>
                <!-- <th scope="col">조회수</th> -->
            </tr>
        </thead>
        <tbody>
            {% for movie in all_movies%}
                <tr>
                    <th scope="row">{{movie.movie_arrindex}}</th>
                    <td><a id="titlelink" href="#" onclick="enter_board_detail({{movie.movie_arrindex}})">{{movie.movie_title}} </a></td>
                    <td>{{movie.movie_director}}</td>
                    <td>{{movie.movie_opendate}}</td>
                    <td>{{movie.movie_recommand}}</td>
                    <td>{{movie.movie_avg_star}}</td>
                    <!-- <td>{{movie.movie_opendate}}</td> -->
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <div class="write_button">
        <button type="button"  onclick="enter_board_write()" class="btn btn-outline-light">글쓰기</button>
    </div>

    <div class="pagination">
        <nav aria-label="...">
            <ul class="pagination">
                {% if pagenation_arr_min == cur_page_num %}
                    <li class="page-item disabled">
                        <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
                    </li>
                {% else  %}
                    <li class="page-item">
                        <a class="page-link" href="/board/{{cur_page_num-1}}" tabindex="-1" aria-disabled="true">Previous</a>
                    </li>
                {% endif  %}

                {% for page in pagenation_arr %}
                    {% if page == cur_page_num %}
                        <li class="page-item active">
                            <a class="page-link" tabindex="-1" aria-disabled="true">{{page}}</a>
                        </li>
                    {% else %}
                        <li class="page-item">
                            <a class="page-link" href="/board/{{page}}">{{page}}</a>
                        </li>
                    {% endif  %}
                {% endfor %}

                {% if pagenation_arr_max == cur_page_num %}
                    <li class="page-item disabled">
                        <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Next</a>
                    </li>
                {% else  %}
                    <li class="page-item">
                        <a class="page-link" href="/board/{{cur_page_num+1}}" tabindex="-1" aria-disabled="true">Next</a>
                    </li>
                {% endif  %}
            </ul>
        </nav>
    </div>

    <div class="serchcontents">
        <div>
            <select class="form-select" aria-label="Default select example" id="serch_condition">
                <option selected>검색조건</option>
                <option value="1">영화제목</option>
                <option value="2">감독</option>
                <option value="3">출연배우</option>
            </select>
        </div>
        <div class="serch_inputform">
            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="검색어 입력" aria-label="검색어 입력"
                    aria-describedby="button-addon2" id="serch_text_input_box">
                <button class="btn btn-outline-secondary" type="button" id="button-addon2" onclick="serch_btn()">검색</button>
            </div>
        </div>
    </div>
</div>

{% endblock %}