{% extends "layout.html" %}
{% block content %}

<div class="board_detail_html">
    <section id="section1">
        <div class="main_wrap">
            <video controls autoplay muted loop>
                <source src="{{ url_for('static', filename='/video/theBatman.mp4') }}" type="video/mp4">
            </video>
            <div class="img_wrap">
                <img src="https://movie-phinf.pstatic.net/20220302_71/1646183071913TYi4c_JPEG/movie_image.jpg?type=m665_443_2"
                    alt="대체이미지">
            </div>
        </div>
    </section>

    <div class="button_set">
        <button type="button" class="btn btn-outline-primary">목록</button>
        <button type="button" class="btn btn-outline-primary">이전 글</button>
        <button type="button" class="btn btn-outline-primary">다음 글</button>
    </div>

    <div class="title_h3">
        <h3>영화 제목</h3>
    </div>

    <div class="title_h3_sub_info">
        <h6>감독</h6>
        <h6>개봉일</h6>
        <h6>평균 별점</h6>
        <h6>추천 수</h6>
        <h6>조회 수</h6>
    </div>

    <div class="main_contents">
        <div class="movie_img">
            <img src="https://blog.kakaocdn.net/dn/borct0/btqzWZy4XY2/RYAcAaiU4w3mMSybRmp0WK/img.png"
                class="img-thumbnail" alt="...">
        </div>
        <div class="movie_actor_desc">
            <div class="card border-dark mb-3" style="max-width: 18rem;">
                <div class="card-body text-dark">
                    <h5 class="card-title">줄거리</h5>
                    <p class="card-text">아니 어쩜 그런 슬픈 일이 ..</p>
                </div>
            </div>
            <div class="card border-dark mb-3" style="max-width: 18rem;">
                <div class="card-body text-dark">
                    <h5 class="card-title">출연 배우</h5>
                    <p class="card-text">A ,B ,C ,D ..</p>
                </div>
            </div>
        </div>
    </div>
    <div class="reply">
        <div class="card">
            <div class="card-body">
                <blockquote class="blockquote mb-0">
                    <p>추천 이유</p>
                    <footer class="blockquote-footer">작성자 , 별점 , 작성일</footer>
                </blockquote>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <blockquote class="blockquote mb-0">
                    <p>추천 이유</p>
                    <footer class="blockquote-footer">작성자 , 별점 , 작성일</footer>
                </blockquote>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <blockquote class="blockquote mb-0">
                    <p>추천 이유</p>
                    <footer class="blockquote-footer">작성자 , 별점 , 작성일</footer>
                </blockquote>
            </div>
        </div>
    </div>
</div>


{% endblock %}