{% extends "layout.html" %}
{% block content %}
    <section id="section1">
        <div class="main_wrap">
            <video controls autoplay muted loop>
                <source src="{{ url_for('static', filename='/video/theBatman.mp4') }}" type="video/mp4">
            </video>
            <div class="img_wrap">
                <img src="https://movie-phinf.pstatic.net/20220302_71/1646183071913TYi4c_JPEG/movie_image.jpg?type=m665_443_2" alt="대체이미지">
            </div>
        </div>
    </section>
{% endblock %}