{% extends "layout.html" %}
{% block content %}
    <section id="section1">
        <div class="main_wrap">
            <video controls autoplay muted loop>
                <source src="{{ url_for('static', filename='/video/theBatman.mp4') }}" type="video/mp4">
            </video>
            <div class="img_wrap">
                <img src="https://movie-phinf.pstatic.net/20220302_71/1646183071913TYi4c_JPEG/movie_image.jpg?type=m665_443_2" alt="대체이미지">
            </div>
        </div>
    </section>
{#    <div>#}
{#        <input type="text" id="test_text">#}
{#        <button onclick="alert($('#test_text').val())">버튼</button>#}
{#    </div>#}
    <div class="hs-area">
        <div class="index-card-box">
            <div class="index-mainrank-area">
                {% for mainrank in mainrank_list %}
                    <a class="cp_box_ot" href="{{ mainrank.movie_url }}" target="_blank">
                        <div class="cp_box">
                            <div class="blurImg" style="background-image: url('{{ mainrank.movie_image }}')"></div>
                            <div class="subject">
                                <h1 style="text-align: right; font-size:56px; font-weight: bold;">{{ mainrank.movie_rank }}위</h1>
                                <p>{{mainrank.movie_title}}({{ mainrank.movie_avg_star }}점)</p>
                            </div>
                            <div class="text tits">
                                <p>줄거리 : {{mainrank.movie_desc}}</p>
                                <p>감독 : {{mainrank.movie_director}}</p>
                                <p>출연 : {{mainrank.movie_actor}}</p>
                                <p>개봉일 : {{mainrank.movie_opendate}}</p>
                            </div>
                        </div>
                    </a>
                {% endfor %}
            </div>
{#            <div class="index-mainrank-area">#}
{#                {% for mainrank in mainrank_list %}#}
{#                    <a class="card bg-dark text-white" href="{{ mainrank.movie_url }}" target="_blank">#}
{#                        <img src="{{ mainrank.movie_image }}" class="card-img" alt="...">#}
{#                        <div class="card-img-overlay">#}
{#                            <h5 class="card-title">{{mainrank.movie_title}}</h5>#}
{#                            <p class="card-text">{{mainrank.movie_desc}}</p>#}
{#                            <p class="card-text">Last updated 3 mins ago</p>#}
{#                        </div>#}
{##}
{#                    </a>#}
{#                {% endfor %}#}
{#            </div>#}

            <div class="index-subrank-area">
                {% for subrank in subrank_list %}
                    <div class="card mb-3 bg-transparent">
                        <div class="row g-0">
                            <div class="col-md-2">
                                <a href="{{ subrank.movie_url }}" target="_blank">
                                    <img src="{{subrank.movie_image}}" class="img-fluid rounded-start" alt="...">
                                </a>
                            </div>
                            <div class="col-md-10">
                                <div class="card-body">
                                    <h1 class="card-title text-white">{{ subrank.movie_rank }}위 : {{subrank.movie_title}}({{ subrank.movie_avg_star }}점)</h1>
                                    <p class="card-text text-white">줄거리 : {{subrank.movie_desc}}</p>
                                    <p class="card-text text-white">감독 : {{subrank.movie_director}}</p>
                                    <p class="card-text text-white">출연 : {{subrank.movie_actor}}</p>
                                    <p class="card-text text-white">개봉일 : {{subrank.movie_opendate}}</p>
{#                                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>#}
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}

            </div>
        </div>
    </div>

{% endblock %}