{% extends "layout.html" %}
{% block content %}
<div class="login_wrap">
    <div class="login_box">
        <ul>
            <li><input type="text" id="input_id" placeholder="id"/></li>
            <li><input type="password" id="input_pw" placeholder="password" /></li>
        </ul>
        <button onclick="requestLogin()">로그인</button>
    </div>
    <div class="login_plus">
        <div class="lp_left">
            <label for="lp_chk">
                <input name="lp_chk"  id="lp_chk" type="checkbox" />
                <span>아이디 저장</span>
            </label>
        </div>
        <div class="lp_right">
            <a href="#" class="id_find">아이디 찾기</a>
            <a href="#" class="pw_find">비밀번호찾기</a>
        </div>
    </div>
    <div class="lp_btm">
        <a href="/memaree">회원가입</a>
    </div>
    <script>
        // 서버에 요청할 작업을 상수로 정의해서 상수값과 같이 요청합니다.
        const GET_REQUEST_LOGIN = 'getRequestLogin'

        function requestLogin(){
            $.ajax({
                type: "POST",
                url: "/api",
                data: {
                    reqType: GET_REQUEST_LOGIN, // 서버에 요청할 작업
                    userId: $('#input_id').val(),
                    userPw: $('#input_pw').val()
                },
                success: function (response) {
                    let resultCode = response['code']
                    if (resultCode < 0) {
                        //처리코드가 0인경우 정상, 0보다 작은 경우 오류로 약속합니다.
                        //오류인 경우 서버에서 내려주는 메시지 그대로 보여줍니다.
                        alert(response['msg'])
                    } else {
                        // 정상코드일 경우 여기에 코드를 작성합니다.
                        $.cookie('mytoken', response['token'])
                        alert('로그인 성공!')
                        window.location.href = '/'
                    }
                }
            })
        }
    </script>
</div>
<div class="popup_area">
    <div class="pop_inner">
      <a href="#" class="p_close"></a>
      <div class="pop_up_box">
        <div class="findId id_find_PopUp">
            <form class="find_id_form" name="find_id_form" method="post" action="">
                  <ul class="top">
                    <li>
                        <input type="text" name="user_name" placeholder="Name">
                    </li>
                    <li class="e-mail">
                          <input type="text" name="user_mail" placeholder="E-mail">
                    </li>
                  </ul>
                  <div class="certificate_code">
                        <input type="password" name="certificate_code" placeholder="인증번호를 입력하세요">
                        <button type="button">확인</button>
                  </div>
                    <div class="mid check">
                        <button type="button" onclick="form_check();">확인</button>
                    </div>
              </form>
        </div>
        <div class="findpw pw_find_PopUp">
            <form class="find_pw_form" name="find_pw_form" method="post" action="">
                  <ul class="top">
                    <li>
                        <input type="text" name="user_name" placeholder="Name">
                    </li>
                    <li>
                        <input type="text" name="user_id" placeholder="ID">
                    </li>
                    <li class="e-mail">
                          <input type="text" name="user_mail" placeholder="E-mail">
                    </li>
                  </ul>
                  <div class="certificate_code">
                        <input type="password" name="certificate_code_p" placeholder="인증번호를 입력하세요">
                        <button type="button">확인</button>
                  </div>
                    <div class="mid check">
                        <button type="button" onclick="form_check();">확인</button>
                    </div>
              </form>
        </div>
      </div>
    </div>
</div>
{% endblock %}