{% extends "layout.html" %}
{% block content %}
<div class="mem_aree_wrap mAWrap agree_wrap">
    <div class="agree_all">
        <label for="agree_checkbox3">
            <input type="checkbox" name="agree_checkbox" id="agree_checkbox3" value="전체동의">
            <span></span>
            <p>모든 방침에 동의합니다.</p>
        </label>
    </div>
    <div class="agree">
      <h3 class="title" data-lan="kr">Moview 이용약관</h4>
      <div class="agree_box">
       <h4>Moview는 회원이 인터넷에 연결된 특정 TV, 컴퓨터 및 기타 장치("Moview 지원 장치")에서 인터넷을 통해 엔터테인먼트 콘텐츠("Moview 콘텐츠")에 액세스할 수 있는 개인화된 구독 서비스를 제공합니다. <br />본 이용 약관은 귀하의 당사 서비스 사용에 적용됩니다. 본 이용약관에서 사용되는 "MovieW 서비스", "당사 서비스" 또는 "서비스"는 모든 기능, 추천 및 리뷰, 당사 웹사이트, 사용자 인터페이스는 물론 당사 서비스와 관련된 모든 콘텐츠 및 소프트웨어.</h4>
        <h5>1. 회원가입</h5>
        <p>
            1.1. MovieW 서비스는 종료될 때까지 계속됩니다. MovieW 서비스를 사용하려면 인터넷에 액세스할 수 있고 MovieW 지원 기기가 있어야 하며 하나 이상의 결제 방법을 제공해야 합니다.<br><br>
            1.2. 당사는 특별 판촉 계획 또는 제3자가 자체 제품 및 서비스 제공과 관련하여 제공하는 멤버십을 포함하여 다양한 멤버십 계획을 제공할 수 있습니다.  귀하의 가입 시 또는 귀하에게 제공되는 기타 커뮤니케이션에서 공개됩니다.
        </p>
        <h5>2.  체험 기간</h5>
        <p>
            2.1. 평가판 사용 가능 여부 및 자격 여부는 MovieW의 단독 재량에 따라 결정됩니다. 예를 들어 평가판 기간 남용을 방지하기 위해 자격 또는 기간을 제한할 수 있습니다. 당사는 귀하가 자격이 없다고 판단되는 경우 평가판 기간을 취소하고 귀하의 계정을 보류할 권리가 있습니다. 기존 또는 최근 MovieW 멤버십이 있는 가구 구성원은 자격이 없습니다. 당사는 자격을 결정하기 위해 기존 또는 최근 MovieW 멤버십에 사용된 디바이스 ID, 결제 방법 또는 계정 이메일 주소와 같은 정보를 사용할 수 있습니다. 다른 제안과의 조합의 경우 제한 사항이 적용될 수 있습니다.
        </p>
        <h5>3. MovieW(무비뷰) 서비스</h5>
        <p>
            3.1. 일부 MovieW 콘텐츠는 지원되는 특정 디바이스("오프라인 타이틀")에서 임시 다운로드 및 오프라인 보기에 사용할 수 있습니다. 계정당 오프라인 타이틀 수, 오프라인 타이틀을 포함할 수 있는 최대 장치 수, 오프라인 타이틀 보기를 시작해야 하는 기간 및 오프라인 타이틀에 액세스할 수 있는 기간을 비롯한 제한 사항이 적용됩니다. 일부 오프라인 타이틀은 특정 국가에서 재생되지 않을 수 있으며 해당 오프라인 타이틀을 스트리밍할 수 없는 국가에서 온라인으로 전환하는 경우 해당 국가에 있는 동안 오프라인 타이틀을 재생할 수 없습니다.<br><br>
            3.2. 귀하는 모든 관련 법률, 규칙 및 규정 또는 서비스 또는 콘텐츠 사용에 대한 기타 제한 사항에 따라 이와 관련된 모든 기능을 포함하여 MovieW 서비스를 사용하는 데 동의합니다. 귀하는 에 포함되거나 획득한 콘텐츠 및 정보를 보관, 복제, 배포, 수정, 표시, 수행, 출판, 라이선스 부여, 파생 작업 생성, 판매 제안 또는 사용(이 사용 약관에서 명시적으로 승인된 경우 제외)하지 않을 것에 동의합니다. 또는 MovieW 서비스를 통해. 또한 귀하는 MovieW 서비스의 콘텐츠 보호를 우회, 제거, 변경, 비활성화, 저하 또는 방해하지 않을 것에 동의합니다. 로봇, 스파이더, 스크레이퍼 또는 기타 자동화된 수단을 사용하여 MovieW 서비스에 액세스 디컴파일, MovieW 서비스를 통해 액세스할 수 있는 소프트웨어나 기타 제품 또는 프로세스를 역설계하거나 분해하는 행위 코드나 제품을 삽입하거나 어떤 식으로든 MovieW 서비스의 콘텐츠를 조작하는 행위 또는 데이터 마이닝, 데이터 수집 또는 추출 방법을 사용합니다. 또한 귀하는 소프트웨어 바이러스 또는 기타 컴퓨터 코드, 파일 또는 프로그램. 귀하가 본 이용 약관의 섹션 4.1, 4.2, 4.3 또는 4.5를 위반하거나 불법 복제, 신원 도용, 무단 신용 카드 사용,<br><br>
            3.3. MovieW 소프트웨어는 MovieW에서 개발했거나 MovieW를 위해 개발되었습니다. 귀하는 서비스를 사용하려면 제3자 라이선스가 적용되는 제3자 소프트웨어가 필요할 수 있음을 인정합니다. 귀하는 MovieW 및 관련 제3자 소프트웨어의 업데이트된 버전을 자동으로 받을 수 있다는 데 동의합니다.<br><br>
        </p>
        <h5>4. 비밀번호 및 계정 접근</h5>
        <p>
             MovieW 계정을 생성하고 결제 수단이 청구되는 회원("계정 소유자")은 MovieW 계정 사용을 통해 발생하는 모든 활동에 대한 책임이 있습니다. 당사는 계정 해킹, 신원 도용, 무단 신용 카드 사용 또는 기타 유사한 사기 또는 불법 활동으로부터 귀하, MovieW 또는 타인을 보호하기 위해 귀하의 계정을 해지하거나 계정을 보류할 수 있습니다.
        </p>
        <h5>5. 책임에 대한 보증 및 제한</h5>
        <p>
            MovieW는 안정적인 서비스 제공을 위해 노력하겠습니다. 그러나 MovieW의 책임 없이 서비스가 중단되거나 오류가 발생할 수 있습니다. MovieW는 MovieW의 고의적 위법 행위 또는 과실로 인해 발생하는 손해에 대해서만 책임을 집니다. MovieW는 MovieW의 고의 또는 중과실로 인해 그러한 손해가 발생한 경우를 제외하고 특별한 상황으로 인해 일반적인 범위를 초과하는 손해에 대해 책임을 지지 않습니다.
        </p>
        <h5>6. 기타</h5>
        <p>
            6.1. 준거법 . 이 이용약관은 대한민국 법률에 따라 규율되고 해석됩니다.<br><br>
            6.2. 요청하지 않은 자료 . MovieW는 MovieW 콘텐츠에 대한 요청하지 않은 자료나 아이디어를 허용하지 않으며, MovieW에 전송된 자료나 아이디어와 모든 미디어의 콘텐츠 또는 프로그래밍 유사성에 대해 책임을 지지 않습니다.<br><br>
            6.3. 고객 지원 . 당사 서비스 및 기능에 대한 자세한 정보를 찾거나 계정에 도움이 필요한 경우 MovieW.com 웹사이트를 통해 액세스할 수 있는 MovieW 고객센터를 방문하세요. 어떤 경우에는 고객 서비스가 귀하의 컴퓨터에 대한 전체 액세스 권한을 제공하는 원격 액세스 지원 도구를 사용하여 귀하를 가장 잘 지원할 수 있습니다. 당사가 이러한 액세스 권한을 갖는 것을 원하지 않는 경우 원격 액세스 도구를 통한 지원에 동의하지 않아야 하며 다른 수단을 통해 귀하를 지원할 것입니다. 본 이용 약관과 고객 지원 또는 당사 웹사이트의 다른 부분에서 제공한 정보가 충돌하는 경우 본 이용 약관이 우선합니다.<br><br>
            6.4. 이용약관 및 양도조건 변경 . MovieW는 수시로 본 이용 약관을 변경할 수 있습니다. 그러한 변경 사항이 귀하에게 적용되기 최소 30일 전에 귀하에게 통지할 것입니다. 당사는 관련 법률에 따라 요구되는 절차에 따라 관련 권리 및 의무를 포함하여 귀하와의 계약을 양도하거나 이전할 수 있으며, 동의하지 않을 경우 언제든지 멤버십을 취소할 수 있습니다.<br><br>
            6.5. 전자 통신 . 당사는 귀하의 계정과 관련된 정보(예: 지불 승인, 청구서, 비밀번호 또는 지불 방법 변경, 확인 메시지, 통지)를 예를 들어 등록 시 제공한 귀하의 이메일 주소로 이메일을 통해 전자 형식으로만 보낼 것입니다.
        </p>
        <p class="date_update">최종 업데이트: 2022년 3월 10일</p>
      </div>
      <div class="agree_check_box">
            <label for="agree_checkbox1" data-lan="kr">
                <input type="checkbox" name="agree_checkbox" id="agree_checkbox1" class="agree_checkbox" value="이용약관"|lan="kr">
                <span></span>
                <p>위 이용약관에 동의합니다.</p>
            </label>
      </div>
    </div>

    <div class="agree">
      <h4 class="title" data-lan="kr">개인정보처리방침</h4>
      <div class="agree_box">
        <h5 data-lan="kr">수집하는 개인정보의 항목</h5>
        <p data-lan="kr">회사는 회원가입, 상담, 서비스 신청 등을 위해 아래와 같은 개인정보를 수집하고 있습니다.</p>
        <ul>
          <li><strong data-lan="kr">- 수집항목</strong> : <span class="privacy_column_list"></span></li>
          <li><strong data-lan="kr">- 개인정보 수집방법</strong> : <span data-lan="kr">홈페이지</span>(<span data-lan="kr">회원가입</span>)</li>
        </ul>

        <h5 data-lan="kr">개인정보의 수집 및 이용목적</h5>
        <p data-lan="kr">회사는 수집한 개인정보를 다음의 목적을 위해 활용합니다.</p>
        <ul>
          <li>
            <strong data-lan="kr">- 서비스 제공에 관한 계약 이행 및 서비스 제공에 따른 요금정산</strong>
            <p data-lan="kr">구매 및 요금 결제, 물품배송 또는 청구지 등 발송</p>
          </li>
          <li>
            <strong data-lan="kr">- 회원 관리</strong>
            <p data-lan="kr">회원제 서비스 이용에 따른 본인확인, 개인 식별, 불량회원의 부정 이용 방지와 비인가 사용 방지, 가입 의사 확인, 연령확인</p>
          </li>
        </ul>

        <h5 data-lan="kr">개인정보의 보유 및 이용기간</h5>
        <p data-lan="kr">회사는 개인정보 수집 및 이용목적이 달성된 후에는 예외 없이 해당 정보를 지체 없이 파기합니다.</p>
      </div>

      <div class="agree_check_box">
          <label for="agree_checkbox2" data-lan="kr">
            <input type="checkbox" name="agree_checkbox" id="agree_checkbox2" class="agree_checkbox" value="개인정보처리방침"|lan="kr">
            <span></span>
            <p>위 개인정보처리방침에 동의합니다.</p>
          </label>
      </div>
    </div>
    <div class="btn_wrap">
        <a href="javascript:history.back()" class="btn_type02">이전으로</a>
        <a href="javascript:mem_agree_ok()" class="btn_type03">회원가입</a>
     </div>
</div>
  <script>
    function allCheckFunc( obj ) {
      $('.agree_checkbox').prop("checked", $(obj).prop("checked") );
    }
    /* 체크박스 체크시 전체선택 체크 여부 */
    function oneCheckFunc( obj ) {
      var allObj = $("#agree_checkbox3");
      var objName = $(obj).attr('class');
      if( $(obj).prop("checked") ){
        checkBoxLength = $("."+ objName ).length;
        checkedLength = $("."+ objName+":checked").length;
        if( checkBoxLength == checkedLength ) {
          allObj.prop("checked", true);
        } else {
          allObj.prop("checked", false);
        }
      } else {
        allObj.prop("checked", false);
      }
    }
    $(function(){
      $("#agree_checkbox3").click(function(){
        allCheckFunc( this );
      });
      $('.agree_checkbox').each(function(){
        $(this).click(function(){
          oneCheckFunc( $(this) );
        });
      });
    });

    // 약관동의
    var siren_url ='';
    function mem_agree_ok(siren_mode){
        if(!siren_mode) siren_mode ='';
        if(document.getElementsByName("agree_checkbox").length){
            for(var i=0;i<document.getElementsByName('agree_checkbox').length;i++){
                if(document.getElementsByName('agree_checkbox')[i].checked == false){
                    alert(document.getElementsByName('agree_checkbox')[i].value + "에 동의하셔야 회원가입을 하실 수 있습니다.\n\n동의에 체크해 주시기 바랍니다.");
                    document.getElementsByName('agree_checkbox')[i].focus();
                    return;
                } else {
                    window.location.href = '/signup'
                }
            }
        }
    }



  </script>
{% endblock %}