{% extends "layout.html" %}
{% block content %}

    <div class="mypageInner">
        <!--    나의 프로필 영역-->
        <div class="profileCont">
            <div class="leftBox">
                <h1 class="tit">나의 프로필</h1>
                {#                <div class="profileBox">#}
                {#                    <div class="profile">#}
                {#                        <img src="https://movie-phinf.pstatic.net/20220214_120/1644825641315cvVKI_JPEG/movie_image.jpg?type=m203_290_2"#}
                {#                             alt="프로필 사진">#}
                {#                    </div>#}
                {#                    <div class="btnBox">#}
                {#                        <button type="button" class="btn btn-dark">이미지 변경</button>#}
                {#                        <button type="button" class="btn btn-outline-secondary">이미지 삭제</button>#}
                {#                    </div>#}
                {#                </div>#}
                <div class="info" id="info">
                    {#                    <div class="infoList">#}
                    {#                        <p class="user">계정</p>#}
                    {#                        <p id="user"></p>#}
                    {#                    </div>#}
                    {#                    <div class="infoList" id="userName">#}
                    {#                        <p class="name">이름</p>#}
                    {#                        <p id="name"></p>#}
                    {#                    </div>#}
                    {#                    <div class="infoList" id="userPhone">#}
                    {#                        <p class="phone">전화번호</p>#}
                    {#                        <p id="phone"></p>#}
                    {#                    </div>#}
                    {#                    <div class="infoList" id="useremail">#}
                    {#                        <p class="email">이메일</p>#}
                    {#                        <p id="email"></p>#}
                    {#                    </div>#}
                </div>
                <button type="button" class="btn btn-secondary updateBtn" onclick="">수정하기</button>
                <div class="withdrawal"><span class="withdrawalBtn" onclick="">회원탈퇴</span></div>
            </div>

            <!--  // 나의 프로필 영역 -->


            <div class="rightBox">
                <h1 class="tit">나의 게시글</h1>
                <div class="boardBox">
                    <div class="container">
                        <div class="row row-cols-1 row-cols-md-4 g-4" id="myBoard">
                            {#                            <div class="col">#}
                            {#                                <a href="#none">#}
                            {#                                    <div class="card h-100" onclick="">#}
                            {#                                        <img src="https://movie-phinf.pstatic.net/20220214_120/1644825641315cvVKI_JPEG/movie_image.jpg?type=m203_290_2"#}
                            {#                                             class="card-img-top" alt="...">#}
                            {#                                        <div class="card-body">#}
                            {#                                            <h5 class="card-title">제목</h5>#}
                            {#                                            <p class="card-text">내용</p>#}
                            {#                                            <p class="card-read">추천수 : 34</p>#}
                            {#                                        </div>#}
                            {#                                    </div>#}
                            {#                                </a>#}
                            {#                            </div>#}

                        </div>
                    </div>
                </div>

                <div class="text-center">
                    <ul id="pagination-demo" class="pagination-sm"></ul>
                </div>
            </div>


        </div>

    </div>


    <!-- 회원탈퇴 팝업창 -->

    <div class="withdrawalModal modal" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">회원탈퇴</h5>
                    <button type="button" class="btn-close withdrawalCloseBtn" data-bs-dismiss="modal"
                            aria-label="Close"
                            onclick=""></button>
                </div>
                <div class="modal-body">
                    <p>정말로 회원을 탈퇴하시겠습니까 ?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary withdrawalCloseBtn" data-bs-dismiss="modal"
                            onclick="">취소
                    </button>
                    <button type="button" class="btn btn-dark" onclick="user_delete()">네</button>
                </div>
            </div>
        </div>
    </div>


    <!-- // 회원탈퇴 팝업창 -->

    <div class="updateModal modal" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">프로필 수정하기</h5>
                    <button type="button" class="btn-close updateModalCloseBtn" data-bs-dismiss="modal"
                            aria-label="Close"
                            onclick=""></button>
                </div>
                <div class="modal-body">
                    <div class="info">
                        <div class="infoList">
                            <p class="name">이름</p>
                            <input type="text" class="form-control" id="userName">
                        </div>
                        <div class="infoList">
                            <p class="name">전화번호</p>
                            <input type="text" class="form-control" id="userPhone">
                        </div>
                        <div class="infoList">
                            <p class="name">이메일</p>
                            <input type="text" class="form-control" id="userEmail">
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary updateModalCloseBtn" data-bs-dismiss="modal"
                            onclick="">취소
                    </button>
                    <button type="button" class="btn btn-dark" onclick="member_update()">수정</button>
                </div>
            </div>
        </div>
    </div>



    <script>
        $(document).ready(function () {
            boradList();
            memberRead()


            if (getCookie('mytoken') != "") { // 쿠키값이 있다면, 쿠키값이 없는게 아니라면

            } else { // 쿠키값이 없다면, 비로그인상태라면,
                alert('로그인이 필요합니다 !');
                window.location.href = '/login'  //로그인 페이지로 이동
            }

            function getCookie(name) { //가져올 쿠키의 이름을 파라미터 값으로 받고
                var nameOfCookie = name + "="; //쿠키는 "쿠키=값" 형태로 가지고 있어서 뒤에 있는 값을 가져오기 위해 = 포함
                var x = 0;
                while (x <= document.cookie.length) {  //현재 세션에 가지고 있는 쿠키의 총 길이를 가지고 반복
                    var y = (x + nameOfCookie.length); //substring으로 찾아낼 쿠키의 이름 길이 저장
                    if (document.cookie.substring(x, y) == nameOfCookie) { //잘라낸 쿠키와 쿠키의 이름이 같다면
                        if ((endOfCookie = document.cookie.indexOf(";", y)) == -1) //y의 위치로부터 ;값까지 값이 있으면
                            endOfCookie = document.cookie.length; //쿠키의 길이로 적용하고
                        return unescape(document.cookie.substring(y, endOfCookie)); //쿠키의 시작점과 끝점을 찾아서 값을 반환
                    }
                    x = document.cookie.indexOf(" ", x) + 1; //다음 쿠키를 찾기 위해 시작점을 반환
                    if (x == 0) //쿠키 마지막이면
                        break; //반복문 빠져나오기
                }
                return ""; //빈값 반환
            }


        });

        $('#pagination-demo').click(function () {
            $('#pagination-demo').twbsPagination({
                totalPages: 35,  // 전체 page 수
                visiblePages: 5,  // 출력될 page 수
                onPageClick: function (event, page) {
                    $('#page-content').text('Page ' + page);
                    // window.location.href = `/board/${page}`
                    console.log(event, page)
                }
            });
        });

        function boradList() {
            $.ajax({
                type: 'GET',
                url: '/boardGet',
                data: {},
                success: function (response) {
                    // console.log(response, '게시글 데이터 찾기')

                    let rows = response['myboard']
                    for (let i = 0; rows.length; i++) {
                        let tit = rows[i]['movie_title']
                        let comment = rows[i]['user_comment']
                        let thum = rows[i]['movie_img']
                        let star = rows[i]['user_star']

                        let temp_html = `<div class="col" onclick="clickTit(this)">
                                                <div class="card h-100">
                                                    <img src="${thum}"
                                                         class="card-img-top" alt="...">
                                                    <div class="card-body">
                                                        <h5 class="card-title" id='cardTitle'>${tit}</h5>
                                                        <p class="card-text">${comment}</p>
                                                        <p class="card-read">추천수 : ${star}</p>
                                                    </div>
                                                </div>
                                        </div>
                                        `
                        $('#myBoard').append(temp_html);


                    }
                }
            });


        }

        function memberRead() {
            $.ajax({
                type: 'GET',
                url: '/memberRead',
                data: {},
                success: function (response) {
                    console.log(response)
                    let rows = response['myinfo']
                    let userid = rows['userid']
                    let name = rows['username']
                    let phone = rows['userphone']
                    let email = rows['useremail']
                    console.log(userid, name, phone, email)

                    let temp_html = `<div class="info">
                                        <div class="infoList">
                                            <p class="user" id="userId">계정</p>
                                            <p id="user">${userid}</p>
                                        </div>
                                        <div class="infoList" id="userName">
                                            <p class="name">이름</p>
                                            <p id="name">${name}</p>
                                        </div>
                                        <div class="infoList" id="userPhone">
                                            <p class="phone">전화번호</p>
                                            <p id="phone">${phone}</p>
                                        </div>
                                        <div class="infoList" id="useremail">
                                            <p class="email">이메일</p>
                                            <p id="email">${email}</p>
                                        </div>
                                    </div>`

                    $('#info').append(temp_html)
                }
            });
        }

        function member_update() {
            let name = $('.updateModal #userName').val()
            let phone = $('.updateModal #userPhone').val()
            let email = $('.updateModal #userEmail').val()

            $.ajax({
                type: 'POST',
                url: '/mypageInfo',
                data: {memberName_give: name, memberPhone_give: phone, memberEmail_give: email},
                success: function (response) {
                    alert(response['msg'])
                    window.location.reload();
                }
            });
        }


        function user_delete() {
            let userId = $('#user').val()
            $.ajax({
                type: 'POST',
                url: '/userDelete',
                data: {userId_give: userId},
                success: function (response) {
                    console.log('삭제완료')
                    window.location.href = '/'
                }
            });
            removeCookie()
        }



        function clickTit(e) {
            let clickTit = ($(e).find('.card-title').text());
            // console.log(clickTit);
            $.ajax({
                type: 'POST',
                url: '/titChk',
                data: {title_give: clickTit},
                success: function (response) {
                    let rows = response['arrIndexChk']
                    for (let i = 0; rows.length; i++) {
                        let movieIdx = rows[i]['movie_arrindex']
                        console.log(movieIdx)
                        window.location.href='/board_detail/'+movieIdx
                    }
                }


            })
        }

        function removeCookie() {
            $.removeCookie('mytoken', {path: '/'});
         }








    </script>


{% endblock %}