{% extends "layout.html" %}
{% block content %}
<div class="join_wrap">
<!--     <form name="fregisterform" id="fregisterform" autocomplete="off" method="post" onsubmit="return fregisterform_submit(this);" action="POST" autocomplete="off"> -->
<!--         <input type="hidden" name="pt_id" value="admin"> -->
<!--         <input type="hidden" name="token" value="receive_token"> -->
        <ul class="f_join join">
            <li><label for="id">아이디<i>*</i></label><input type="text" id="input_id" name="input_id" maxlength="30"><button onclick="id_chk_popup()">중복확인</button></li>
            <li><label for="input_pw">패스워드<i>*</i></label><input type="password" id="input_pw" name="input_pw" maxlength="30"></li>
            <li><label for="input_chkpw">패스워드 확인<i>*</i></label><input type="password" name="input_chkpw" id="input_chkpw" maxlength="30"></li>
            <li><label for="input_name">이름<i>*</i></label><input type="text" id="input_name" name="input_name" maxlength="6"></li>
            <li><label for="input_email">이메일주소</label><input type="text" id="input_email" name="input_email"></li>
            <li><label for="input_phone">휴대폰번호</label><input type="text" id="input_phone" name="input_phone"></li>
        <ul>
        <div class="btn_wrap">
            <a href="javascript:history.back()" class="btn_type2">이전으로</a>
            <button onclick="MovieWForm_submit()" class="btn_type3" id="btn_submit">회원가입</button>
        </div>
<!--     </form> -->
    <script>
    function MovieWForm_submit(){
        const ip_id = document.getElementById('input_id');
        const ip_pw = document.getElementById('input_pw');
        const ip_chkpw = document.getElementById('input_chkpw');
        const ip_name = document.getElementById('input_name');
        const ip_email = document.getElementById('input_email');
        const ip_phone = document.getElementById('input_phone');

        if(ip_id.value.length < 3) {
            alert("아이디를 3글자 이상 입력하십시오.");
            ip_id.focus();
            return false;
        }

        if(ip_pw.value.length < 4 || ip_pw.value.length > 30) {
            alert("비밀번호는 4글자 이상, 30글자 이하만 이용 가능합니다.")
            ip_pw.focus();
            return false;
        }

        if(ip_pw.value != ip_chkpw.value) {
            alert("패스워드가 다릅니다.")
            ip_chkpw.focus();
            return false;
        }

        if(ip_name.value == " ") {
            alert("이름을 입력해주세요.")
            ip_name.focus();
            return false;
        }

        if(ip_email.value == " " || ip_email.value.length <1) {
            alert("이메일을 입력해주세요.")
            ip_email.focus();
            return false;
        }

        if(ip_phone.value == " " || ip_phone.value.length < 1) {
            alert("전화번호를 입력해주세요.")
            ip_phone.focus();
            return false;
        }

        if(confirm("회원가입 하시겠습니까?") == false) {
            return false;
        }

        signupUser()
    }

    </script>

    <script>
        const POST_REQUEST_SIGNUP = 'postRequestSignUp'

        function duplicateCheck(){
            alert('아이디 중복체크 구현 예정입니다.')
        }
        function signupUser(){
            var renew = "";
            $.ajax({
                type: "POST",
                url: "/api",
                data: {
                    reqType: POST_REQUEST_SIGNUP, // 서버에 요청할 작업
                    userId: $('#input_id').val(),
                    userPw: $('#input_pw').val(),
                    userName: $('#input_name').val(),
                    userEmail: $('#input_email').val(),
                    userPhone: renew
                },
                success: function (response) {
                    let resultCode = response['code']
                    if (resultCode < 0) {
                        //처리코드가 0인경우 정상, 0보다 작은 경우 오류로 약속합니다.
                        //오류인 경우 서버에서 내려주는 메시지 그대로 보여줍니다.
                        alert(response['msg'])
                    } else {
                        // 정상코드일 경우 여기에 코드를 작성합니다.
                        alert('회원가입이 완료되었습니다.')
                        window.location.href = '/login'
                    }
                }
            })
        }
    </script>
</div>
{% endblock %}